<h2>Advertising</h2>

<p>
  You can advertise with Haskell Weekly by purchasing a sponsored link.
  Sponsored links are similar to featured links except that they say "(ad)" after the title.
  Here's an example of how they look:
</p>

<ul>
  <li>
    <p>
      <a href>Reach an engaged audience by advertising with Haskell Weekly!</a>
      (ad)
    </p>
    <blockquote>
      <p>
        Over 1,500 people subscribe to Haskell Weekly.
        We deliver a new issue to their inbox every week.
        Over the last five issues,
        77% of subscribers opened at least one issue
        and 52% clicked on at least one link.
      </p>
    </blockquote>
  </li>
</ul>

<p>
  Each sponsored link has three required pieces:
</p>

<ol>
  <li>
    <p>
      URL:
      This can be whatever you want.
      We recommend using a URL that will allow you to track engagement.
      For example, <a href="https://goo.gl">Google's link shortener</a> provides analytics data.
    </p>
  </li>

  <li>
    <p>
      Title:
      This is up to 80 characters of plain text.
    </p>
  </li>

  <li>
    <p>
      Copy:
      This is up to 300 characters of plain text.
      It can include basic Markdown formatting.
    </p>
  </li>
</ol>

<p>
  Sponsored links cost US$$60 per issue.
  Payment is accepted through <a href="https://squareup.com">Square</a>.
  If you are interesting in advertising with Haskell Weekly,
  please reach out to <a href="mailto:info@haskellweekly.news?subject=Advertising">info@haskellweekly.news</a>.
</p>
