<!doctype html>

<!-- \   Haskell
    \/\/ Weekly -->

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, width = device-width">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@haskellweekly">
    <meta name="twitter:title" content="$title$">
    <meta name="twitter:description" content="$summary$">
    <meta name="twitter:image" content="$baseUrl$/images/twitter-card.png">
    <meta name="og:image" content="$baseUrl$/images/twitter-card.png">

    <title>$title$</title>

    <link href="/styles/bootstrap-4-3-1.css" rel="stylesheet">
    <link href="/haskell-weekly.atom" rel="alternate" title="Haskell Weekly" type="application/atom+xml">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="$baseUrl$$url$" rel="canonical">
  </head>

  <body>
    <div class="container">
      <header class="navbar navbar-dark my-3 rounded" style="background-color: #5e5086;">
        <a class="navbar-brand" href="/">
          Haskell Weekly
        </a>
        <span class="d-inline-block" style="fill: #ffffff; width: 3em;">
          $logo$
        </span>
      </header>

      <main>
        $body$
      </main>

      <footer class="bg-light card my-3">
        <div class="card-body">
          Content on this site is licensed under a
          <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
          The source code for this site is available
          <a href="https://github.com/haskellweekly/haskellweekly.github.io">on GitHub</a>.
        </div>
      </footer>
    </div>
  </body>
</html>
