<form action="https://news.us10.list-manage.com/subscribe/post?u=49a6a2e17b12be2c5c4dcb232&amp;id=ffbbbbd930" class="pure-form pure-form-aligned" method="post">
  <fieldset>
    <div class="pure-control-group">
      <label for="email">
        Email
      </label>
      <input id="email" name="EMAIL" placeholder="you@example.com" type="email">
    </div>

    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      <input name="b_49a6a2e17b12be2c5c4dcb232_ffbbbbd930" tabindex="-1" type="text" value="">
    </div>

    <div class="pure-controls">
      <button class="pure-button pure-button-primary" type="submit">
        Subscribe
      </button>
    </div>
  </fieldset>
</form>
