<article>
  <h2>
    $title$
  </h2>

  <time datetime="$isoDate$">
    $date$
  </time>

  $body$
</article>

<aside>
  <p>
    Did you enjoy this issue?
    Subscribe now to get more like it delivered to your inbox every Thursday.
  </p>

  $partial("templates/form.html")$

  <p>
    It's easy to unsubscribe and we'll never send you spam.
    If you'd prefer, you can follow us <a href="https://twitter.com/haskellweekly">on Twitter</a>
    or subscribe to <a href="/haskell-weekly.atom">the feed</a>.
  </p>
</aside>
