<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale = 1, width = device-width" name="viewport">

    <title>
      $title$ &#xb7; Haskell Weekly
    </title>

    <link href="/haskell-weekly.atom" rel="alternate" title="Haskell Weekly (Atom)" type="application/atom+xml">
    <link href="/haskell-weekly.rss" rel="alternate" title="Haskell Weekly (RSS)" type="application/rss+xml">
    <link href="/styles/haskell-weekly.css" rel="stylesheet">
    <link href="$url$" rel="canonical">
  </head>

  <body>
    <header>
      <h1>
        <a href="/">
          Haskell Weekly
        </a>
      </h1>
    </header>

    $body$
  </body>
</html>
