<form method="post" action="https://news.us10.list-manage.com/subscribe/post?u=49a6a2e17b12be2c5c4dcb232&amp;id=ffbbbbd930">
  <fieldset>
    <legend>
      Subscribe to Haskell Weekly
    </legend>

    <input type="email" name="EMAIL" placeholder="someone@example.com">

    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_49a6a2e17b12be2c5c4dcb232_ffbbbbd930" tabindex="-1" value="">
    </div>

    <input type="submit" value="Subscribe">
  </fieldset>
</form>
