body {
  background: #ffffff;
  color: #2e3436;
  font: 20px/1.5em 'Verdana', sans-serif;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 0.5em;
}

a {
  border-bottom: thin solid;
  color: #3465a4;
  text-decoration: none;
}

a:visited {
  color: #75507b;
}

header {
  margin-bottom: 1.5em;
}

header h1 {
  font: inherit;
  font-size: 2em;
  line-height: 3em;
  margin: 0;
  text-align: center;
}

header a {
  border: none;
  color: #5c3566;
  display: block;
}

header svg {
  display: inline-block;
  height: 1em;
  vertical-align: baseline;
  width: auto;
}

@media only screen and (max-width: 500px) {
  header span {
    display: none;
  }
}

main article {
  margin: 1.5em 0;
}

main h2 {
  font: inherit;
  font-size: 1.5em;
  line-height: 1em;
  margin: 1em 0;
}

main time {
  display: block;
  font-style: italic;
  margin-top: -1.5em;
}

main p {
  margin: 1.5em 0;
}

main ol,
main ul {
  margin: 1.5em 0;
  padding: 0 0 0 1em;
}

main ul {
  list-style-type: square;
}

main blockquote {
  border-left: thin solid #d3d7cf;
  margin: 0;
  padding: 0 0 0 1em;
}

main aside {
  border-top: thin solid #d3d7cf;
  margin: 1.5em 0;
}

.subscribe {
  border: thin solid #d3d7cf;
  display: flex;
  line-height: 3em;
  margin: 1.5em auto;
  max-width: 20em;
}

.subscribe input {
  border: none;
  font: inherit;
  padding: 0 0.5em;
  width: 100%;
  min-width: 0;
}

.subscribe button {
  background: #3465a4;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font: inherit;
  padding: 0 0.5em;
}

.survey .question {
  margin: 1.5em 0;
}

.survey input,
.survey textarea {
  font: inherit;
}

.survey textarea {
  display: block;
  width: 100%;
}

.survey ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  border-top: thin solid #d3d7cf;
  margin: 1.5em 0 3em 0;
}
